*{
    box-sizing: border-box;

}
body{
    
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
    background-color: aliceblue;
    border: 3px;
    box-shadow: 20px 20px 20px ;
    width: 100%;
    height: 100%;
    padding: 50px;
    box-shadow: -20px -20px -20px
}

#todoinput{
    text-align: center;
    width: 65%;
    padding: 10px;
    border-radius: 5px;
    
}
.addtodos{
    border-radius: 7px;
    color: blueviolet;
    padding: 10px;

}
.addtodos:hover{
    cursor: pointer;
    background-color: cadetblue;
    color: azure;
    box-shadow: 20px 20px 20px 20px ;
}