*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gillroy', 'Gill Sans MT';
}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
}
#nav h3{
    background-color: black;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 15px;
    margin-left: 5px;
}
#intro{
    height: 45%;
    width: 100%;
    padding: 50px 60px;
}
#intro h1{
    font-weight: 500;
    font-size: 130px;
    letter-spacing: -5px;
    line-height: 120px;
    
}
#place{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#place h3,#place h4{
    font-size: 35px;
    font-weight: 400;
}
#heroimg{
    height: 50%;
    width: 100%;
    background-size: cover;
}
#about{
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
}
#about h2{
    width: 62%;
    font-size: 80px; 
    line-height: 83px;
    font-weight: 400;
    letter-spacing: -3px;
}
#about2{
    width: 38%;
    height: 100%;
    border-left: 2px solid black;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about2 h3{
    font-size: 35px;
    font-weight: 500;
}
#icons i{
    background-color: black;
    color: white;
    padding: 7px;
    font-size: 25px;
    border-radius: 50px;
    margin-right: 10px;
}
#work{
    height: 55%;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    padding: 50px 60px;
}
#work1{
    width: 35%;
    height: 100%;
    border-right: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    font-size: 30px;
}
#work1 h3{
    font-weight: 400;
}
#work2{
    width: 65%;
    height: 100%;
    padding: 0 60px;
}
.work21{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0;
}
.work21:nth-child(1){
    border-bottom: 2px solid black;
    padding-top: 0;
}
.work21 .elem{
    width: 50%;
    height: 100%;

}
.work21 .elem:nth-child(1){
    border-right: 2px solid black;
    padding-right: 50px;
}
.work21 .elem:nth-child(2){
    padding-left: 50px;
}
.work21 .elem h4{
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: 600;
}
.work21 .elem p{
    font-size: 18px;
    font-weight: 500;
}